
<br>
<br>
<center>
    <a class="nav" href="http://cbio.umn.edu">Lab Home</a>
    |&nbsp;<a class="nav" href="http://cbio.umn.edu">Research</a>
    |&nbsp;<a class="nav" href="http://cbio.umn.edu">Software</a>
    |&nbsp;<a class="nav" href="http://cbio.umn.edu">Publications</a>
    |&nbsp;<a class="nav" href="http://cbio.umn.edu">People</a></span>
</center>