@charset "utf-8";
/* CSS Document */


#wrap{
	width: 600px;
	height: 800px;
	background:#C0C0C0;
	margin:0;
	auto;	
}

#pagenav{
	background-color:#09F;
}

.bluemodule{
	width: 17em;
	background-color:#09F;
	color:#fff;
	padding: 15px 15px;
	padding-right: 5px;
}

.sidebar{
	background-color:#EDEDED;
	width:250px;
	height: 620px;
	background:url(images/rcNet_side_bottom_ie.png);
	background-position:bottom;
	background-repeat:no-repeat;
	background-color:#09f;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:15px;
	color:#fff;
	padding-top: 60px;
	margin-top: -100px;
	float:left;
	position:relative;
}

a.side {
	color:#05F;
	text-decoration:none;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:400;
}

a.side:hover{
	color:#08F;
	font-weight: bold;
}


.header{
	margin-left: 275px;
	height: 60px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20 px;
	padding-left: 30px;
	color:#666;
}

.onside{
	background-color:#EDEDED;
	border:thin;
	border-color:#CECECE;
	border-style:outset;
	width: 185px;
	margin-left: 10px;
	padding: 20px;
	color:#5F5F5F;
	font-size:13px;
	font-weight: normal;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}


.maincontent{
	background-color:#EDEDED;
	border:thin;
	border-color:#CECECE;
	border-style:outset;
	width: 600px;
	margin-left: 275px;
	padding: 20px;
	color:#5F5F5F;
	
}

.footer{
	background-color:#EDEDED;
	border:thin;
	border-color:#CECECE;
	border-style:outset;
	width: 600px;
	margin-left: 275px;
	padding: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	color:#5F5F5F;
	
}
.specialbutton {
	float:left;
	/*clear:both;*/
	background:url(images/green_button_01.png);
	background-repeat:no-repeat;
	padding: 0 0 0 13px;
	margin: 5px 0;
}

.specialbutton a{
	float: left;
	height: 36px;
	background:url(images/green_button_02.png) repeat-x left top;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 36px;
	padding: 0 10px;
	color:#fff;
	font-size:11px;
	text-decoration:none;
}


.specialbutton span{
	background:url(images/green_button_03.png) no-repeat;
	float:left;
	width: 10px;
	height: 36px;
}

.button {
	float:left;
	/*clear:both;*/
	background:url(images/gray_button_01.png);
	background-repeat:no-repeat;
	padding: 0 0 0 13px;
	margin: 5px 0;
}

.button a{
	float: left;
	height: 36px;
	background:url(images/gray_button_02.png) repeat-x left top;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 36px;
	padding: 0 10px;
	color:#555;
	font-size:11px;
	text-decoration:none;
}


.button span{
	background:url(images/gray_button_03.png) no-repeat;
	float:left;
	width: 10px;
	height: 36px;
}

.tb {
	width:233px;
	background: transparent url(images/textbox.png) no-repeat;
	color:#666;
	height:23px;
	border:0px;
	padding: 3px 10px;
}
