@charset "utf-8";
/* CSS Document */
BODY
{
  padding-top : 1px;
  padding-left : 1px;
  padding-right : 1px;
  padding-bottom : 1px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;border-width : 0px 0px 0px 0px;border-style : none none none none;
  font-size : 10pt;
  font-family: "Arial";
  margin:0;
  SCROLLBAR-FACE-COLOR: #F4E9E4;  
  SCROLLBAR-HIGHLIGHT-COLOR: #000000;
  SCROLLBAR-SHADOW-COLOR: #C0C0C0;
  SCROLLBAR-3DLIGHT-COLOR: #F4E9E4;  
  SCROLLBAR-ARROW-COLOR: #000000;
  SCROLLBAR-TRACK-COLOR: #C0C0C0;    
  SCROLLBAR-DARKSHADOW-COLOR: #000000;
  
}
  
input
    {    
	border-top:1px #000000 solid;
	border-bottom:1px #000000 solid;
	border-left:1px #000000 solid;
	border-right:1px #000000 solid;	
	FONT-FAMILY: "Arial";
	FONT-SIZE: 9pt;
    }
       
.no_border{   
    border:0px solid #CCCCCC;    
}
.subbar{
	color:FFFFFF;
    background:#4D5A14;
    font-weight:bold;
    font-size:12px;
    height:20px;
    vertical-align:center;
}
.title{
	color:#714444;
	font-weight:bold;
    font-size:24px;
}

.title_1{    
    font-weight:bold;
}

.bar_1{
	color:#714444;
}


.menu1{
cursor:hand;
text-align:center;
font-size:9 pt;
background-image:url("../images/left_titlebg.gif");
}

.menu2{
cursor:hand;
text-align:center;
vertical-align:top;
height:160px;
font-size:12 pt;
background-image:url("../images/left_listbg.gif");

}


.input_textarea{
	border-top:1px #7F9DB9 solid;
	border-bottom:1px #7F9DB9 solid;
	border-left:1px #7F9DB9 solid;
	border-right:1px #7F9DB9 solid;	
	FONT-FAMILY: "Arial";
	FONT-SIZE: 9pt;
}

.input_iframe{
	border-top:1px #7F9DB9 solid;
	border-bottom:1px #7F9DB9 solid;
	border-left:1px #7F9DB9 solid;
	border-right:1px #7F9DB9 solid;	
	FONT-FAMILY: "Arial";
	FONT-SIZE: 9pt;
}

.btn_moveover, .btn_normal{
 border-top:1px #c4c4c4 solid;
 border-bottom:1px #c4c4c4 solid;
 border-left:1px #c4c4c4 solid;
 border-right:1px #c4c4c4 solid;
 height:20px;
}

.btn_normal{
 color:#000000;
 background-image:url("../images/bu_bg1.gif");
}
.btn_moveover{
color:#04498D;
 background-image:url("../images/bu_bg2.gif");
}

/*
A.menu:link { color:#A93903; text-decoration: none}
*/
A.menu:link { color:#000000; text-decoration: none}
A.menu:visited {  color: #000000; text-decoration: none}
A.menu:active {  color: #714444; text-decoration: none;FONT-WEIGHT: bold; }
A.menu:hover {  color: #714444; text-decoration: none;FONT-WEIGHT: bold; }

A.op:link { color:#464646; text-decoration: none}
A.op:visited {  color: #747474; text-decoration: none}
A.op:hover {  color: #707070; text-decoration: none}

A.nav:link { color:#000000; text-decoration: none;}
A.nav:visited {  color: #007CDB;text-decoration: none;}
A.nav:active {  color: #000000;text-decoration: none;}
A.nav:hover {  color: #007CDB; text-decoration: none; FONT-WEIGHT: bold; }

A.info:link { color:#000000; text-decoration: none;}
A.info:visited {  color: #000000;text-decoration: none;}
A.info:active {  color: #DC0000;text-decoration: none;}
A.info:hover {  color: #9DC3DE; text-decoration: none;}

a:hover { text-decoration: none;}
a.link { color:#000000; text-decoration: none;}
a.visited  { text-decoration: none;}
a.active  { color:#000000; text-decoration: none;}


#contentwrapper{
	width: 900px;
	height: 600px;
	margin-left: 1%;
}

.body{
	margin-left: 5px;
}

#pagenav{
	background-color:#09F;
}

.bluemodule{
	width: 17em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius:5px;
	border-radius: 5px;
	background-color:#09F;
	color:#fff;
	padding: 15px 15px;
	padding-right: 5px;
}

.sidebar{
	background-color:#EDEDED;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius:11px;
	border-radius: 11px;
	width:250px;
	height: 623px;
	background:url(../images/rcNet_side_bottom.png);
	background-position:bottom;
	background-repeat:no-repeat;
	background-color:#09F;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:15px;
	color:#fff;
	padding-top: 60px;
	margin-top: -100px;
	float:left;
	position:relative;
}

a.side {
	color:#05F;
	text-decoration:none;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:400;
}

a.side:hover{
	color:#08F;
	font-weight: bold;
}


.header{
	margin-left: 250px;
	height: 60px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20 px;
	padding-left: 30px;
	color:#666;
}

.onside{
	background-color:#EDEDED;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius:5px;
	border-radius: 5px;
	border:thin;
	border-color:#CECECE;
	border-style:outset;
	width: 185px;
	margin-left: 10px;
	padding: 20px;
	color:#5F5F5F;
	font-size:13px;
	font-weight: normal;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}


.maincontent{
	background-color:#EDEDED;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius:5px;
	border-radius: 5px;
	border:thin;
	border-color:#CECECE;
	border-style:solid;
	width: 700px;
	margin-left: 275px;
	padding: 20px;
	color:#5F5F5F;
	
}

.footer{
	background-color:#EDEDED;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius:5px;
	border-radius: 5px;
	border:thin;
	border-color:#CECECE;
	border-style:solid;
	width: 700px;
	margin-left: 275px;
	padding: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	color:#5F5F5F;
	
}
.specialbutton {
	float:left;
	/*clear:both;*/
	background:url(../images/green_button_01.png);
	background-repeat:no-repeat;
	padding: 0 0 0 13px;
	margin: 5px 0;
}

.specialbutton a{
	float: left;
	height: 36px;
	background:url(../images/green_button_02.png) repeat-x left top;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 36px;
	padding: 0 10px;
	color:#fff;
	font-size:11px;
	text-decoration:none;
}


.specialbutton span{
	background:url(../images/green_button_03.png) no-repeat;
	float:left;
	width: 10px;
	height: 36px;
}

.button {
	float:left;
	/*clear:both;*/
	background:url(../images/gray_button_01.png);
	background-repeat:no-repeat;
	padding: 0 0 0 13px;
	margin: 5px 0;
}

.button a{
	float: left;
	height: 36px;
	background:url(../images/gray_button_02.png) repeat-x left top;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 36px;
	padding: 0 10px;
	color:#555;
	font-size:11px;
	text-decoration:none;
}


.button span{
	background:url(../images/gray_button_03.png) no-repeat;
	float:left;
	width: 10px;
	height: 36px;
}

.tb {
	width:233px;
	background: transparent url(../images/textbox.png) no-repeat;
	color:#666;
	height:23px;
	border:0px;
	padding: 3px 10px;
}
